.change-profile-picture {
    text-align: center;
    margin-top: 20px;
  }
  
  .modal-header {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .image-crop-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .zoom-slider {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .zoom-slider label {
    margin-right: 10px;
  }
  
  .modal-body {
    padding: 20px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: space-between;
  }
  